In [63]:
import pandas as pd
from sqlalchemy import create_engine
import sys

In [64]:
sys.path.append('../config/')
from config import configuration

In [65]:
config = configuration('../config/database.ini')
db_url = f"postgresql+psycopg2://{config['user']}:{config['password']}@{config['host']}/{config['database']}"
engine = create_engine(db_url)

conn = engine.connect()

In [66]:
df = pd.read_sql_table('candidates_hired', conn)
df.head()

,id,firstname,lastname,email,applicationdate,country,yoe,seniority,technology,codechallengescore,technicalinterviewscore,hired
0,1,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,False
1,2,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,False
2,3,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,True
3,4,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,False
4,5,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,True

In [67]:
df['technology'].unique()

array(['Data Engineer', 'Client Success', 'QA Manual',
       'Social Media Community Management', 'Adobe Experience Manager',
       'Sales', 'Mulesoft', 'DevOps', 'Development - CMS Backend',
       'Salesforce', 'System Administration', 'Security',
       'Game Development', 'Development - CMS Frontend',
       'Security Compliance', 'Development - Backend', 'Design',
       'Business Analytics / Project Management',
       'Development - Frontend', 'Development - FullStack',
       'Business Intelligence', 'Database Administration',
       'QA Automation', 'Technical Writing'], dtype=object)

In [68]:
technology_categories = {
    'Data Engineer': 'Software Development',
    'Development - CMS Backend': 'Software Development',
    'Development - CMS Frontend': 'Software Development',
    'Development - Backend': 'Software Development',
    'Development - Frontend': 'Software Development',
    'Development - FullStack': 'Software Development',
    'Game Development': 'Software Development',
    'Client Success': 'Project Management and Analytics',
    'Business Analytics / Project Management': 'Project Management and Analytics',
    'Business Intelligence': 'Project Management and Analytics',
    'DevOps': 'Infrastructure and Operations',
    'System Administration': 'Infrastructure and Operations',
    'Database Administration': 'Infrastructure and Operations',
    'Security': 'Security',
    'Security Compliance': 'Security',
    'Sales': 'Sales and Marketing',
    'Social Media Community Management': 'Sales and Marketing',
    'Design': 'Sales and Marketing',
    'Adobe Experience Manager': 'Sales and Marketing',
    'Mulesoft': 'Integration and Automation',
    'Salesforce': 'Integration and Automation',
    'QA Manual': 'Integration and Automation',
    'QA Automation': 'Integration and Automation',
    'Technical Writing': 'Integration and Automation'
}
df['categoryoftechnology'] = df['technology'].map(technology_categories)

df.head()

,id,firstname,lastname,email,applicationdate,country,yoe,seniority,technology,codechallengescore,technicalinterviewscore,hired,categoryoftechnology
0,1,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,False,Software Development
1,2,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,False,Software Development
2,3,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,True,Project Management and Analytics
3,4,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,False,Integration and Automation
4,5,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,True,Sales and Marketing

In [69]:
df.to_sql('candidates_hired', conn, if_exists='replace', index=False)

1000